<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>


<div class="container my-5">
    <!--/*@thymesVar id="registeredvisitor" type="be.intecbrussel.iddblog.domain.RegisteredVisitor"*/-->
    <form class="form-horizontal" th:object="${registeredvisitor}" th:action="@{/password/reset-pwd/}" method="post">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
        </div>

        <input type="hidden" th:field="${registeredvisitor.id}" readonly="readonly"/>
        <input type="hidden" th:field="${registeredvisitor.username}" readonly="readonly"/>
        <input type="hidden" th:field="${registeredvisitor.firstName}" readonly="readonly"/>
        <input type="hidden" th:field="${registeredvisitor.lastName}" readonly="readonly"/>
        <input type="hidden" th:field="${registeredvisitor.emailAddress}" readonly="readonly"/>
        <input type="hidden" th:field="${registeredvisitor.oldPassword}" readonly="readonly"/>

        <h2 class="col-md-offset-3">Reset Password</h2>

        <div class="form-group">
            <label for="pwd" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" th:field="${registeredvisitor.password}" class="form-control" id="pwd"
                       placeholder="Password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="${registeredvisitor.password}"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPwd" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-md-4">
                <input type="password" th:field="${registeredvisitor.confirmPassword}" class="form-control"
                       id="confirmPwd"
                       placeholder="Confirm Password">
                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="${registeredvisitor.confirmPassword}"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md col-md-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{'/index'}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>