<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Profile view</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<!--/*@thymesVar id="registeredvisitor" type="be.intecbrussel.iddblog.domain.RegisteredVisitor"*/-->
<div class="container-fluid" style="margin-top: 20px">
       <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">User Details</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Username:</h5>
                            </div>
                            <div class="col-md-3">
                                <h5 th:text="*{registeredvisitor.username}">username</h5>
                            </div>
                            <div>
                                <img style="width: 100px" th:src="@{'data:image/png;base64,'+${registeredvisitor.avatar}}"th:if="${registeredvisitor.avatar!= null}"/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>First name:</h5>
                             </div>
                            <div class="col-md-3">
                                <h5 th:text="*{registeredvisitor.firstName}">first name</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Last name: </h5>
                            </div>
                            <div class="col-md-3">
                                <h5 th:text="*{registeredvisitor.lastName}">last name</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Password: </h5>
                            </div>
                            <div class="col-md-3">
                                <h5 th:text="*{registeredvisitor.password}">password</h5>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-3">
                                <h5>Email: </h5>
                            </div>
                            <div class="col-md-3">
                                <h5 th:text="*{registeredvisitor.emailAddress}">email</h5>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <a  th:href="@{'/index'}"    class="btn btn-primary">Home</a>
                        <a th:href="@{'/registeredvisitor/update/' +'' + ${id}}" class="btn btn-primary">Edit user</a>
                        <button th:unless="${isAdmin}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Delete User
                        </button>
                        <a th:if="${registeredvisitor.isWriter}" th:href="@{'/writer/'+ ${registeredvisitor.id}}" type="button" class="btn btn-primary">My Bloghome</a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Deletion User Account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       Are you sure to delete your account?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a th:href="@{'/delete/'+ ${registeredvisitor.id}}" type="button" class="btn btn-primary">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>