<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<!--/*@thymesVar id="registeredvisitor" type="be.intecbrussel.iddblog.domain.RegisteredVisitor"*/-->
<div class="container my-5">
    <form class="form-horizontal" role="form" th:object="${registeredvisitor}" th:action="@{/registeredvisitor/edit password/{id}(id=${id})}" method="post">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
        </div>
        <div class="alert alert-danger" th:if="${messageInvalidOldPwd!=null}">
            <p  th:text="${messageInvalidOldPwd}"></p>
        </div>

        <input type="hidden" th:field="*{emailAddress}" readonly="readonly"/>
        <input type="hidden" th:field="*{lastName}" readonly="readonly"/>
        <input type="hidden" th:field="*{firstName}" readonly="readonly"/>
        <input type="hidden" th:field="*{username}" readonly="readonly"/>

        <h2 class="col-md-offset-3">Change Password </h2>
        <div class="center-block">
        <div class="form-group">
            <label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
            <div class="col-sm-4">
                <input th:field="*{oldPassword}" type="password" id="oldPassword" placeholder="Old Password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-4">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                <input th:field="*{password}" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-md-4">
                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></span>
                <input th:field="*{confirmPassword}" type="password" id="confirmPassword" placeholder="Confirm Password" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md col-md-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{'/index'}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->


</body>
</html>











