<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resest Password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

</head>
<!--/*@thymesVar id="registeredvisitor" type="be.intecbrussel.iddblog.domain.RegisteredVisitor"*/-->
<div class="container my-5">
    <h2 class="col-md-offset-3">Reset Password </h2>
    <form class="form-horizontal" role="form" th:action="@{/forgetPassword}" method="post">

        <div class="alert alert-danger" th:if="${msgEmailMissing!=null}">
            <p  th:text="${msgEmailMissing}"></p>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="email" class="col-sm-2 control-label">Email address</label>
                <div class="col-sm-4">
                    <input type="text" name="email" id="email" placeholder="Email"
                           class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md col-md-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{'/index'}" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </form>
</div>

</body>
</html>