<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>welcome to intec brussels blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


</head>
<body>
<div class="container text-center">
    <h1>INTEC blog : Welcome</h1>

    <span style="font-weight: bold; font-size: large;">Home <a th:href="@{/index}" class="btn btn-primary"><i class="fas fa-home ml-2"></i></a></span>
    <span style="font-weight: bold; font-size: large;">Login <a th:href="@{/login}" class="btn btn-primary"><i class="fas fa-user ml-2"></i></a></span>
    <span style="font-weight: bold; font-size: large;">Register <a th:href="@{/registeredvisitor/new}" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></span>
    <span style="font-weight: bold; font-size: large;">Update <a th:href="@{'/registeredvisitor/update/'+ ${idUser}}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></span>
    <span style="font-weight: bold; font-size: large;">Show Profile <a th:href="@{'/registeredvisitor/'+ ${idUser}+'/show'}" class="btn btn-primary"><i class="fas fa-user ml-2"></i></a></span>
    <span id = "username" th:text="${loggedinuser}" style="font-weight: bold; font-size: large;"></span>
    <span style="font-weight: bold; font-size: large;">Logout <a th:href="@{/logout}" class="btn btn-primary"><i class="fas fa-sign-out-alt ml-2"></i></a></span>

    <span style="font-weight: bold; font-size: large;"><div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/adminpage}" class="btn btn-primary"><i class="fas fa-user ml-2"></i></a></div></span>




    <!--    <a href="index.html" th:href="@{/}">Home</a>-->
<!--    <a href="login.html" th:href="@{/login}">Log in</a>-->
<!--    <a href="#" th:href="@{/logout}">Log out</a>-->
<!--    <a href="registerform.html" th:href="@{/registeredvisitor/new}">Register</a>-->

</div>

</body>
</html>