
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".active").removeClass("active");
            $("#home").addClass("active");

            if(window.location.href.includes('/index')) {
                $("#searchHeader").attr("action",'/index',"action", '/');
                $("#searchAdmin").attr("action",'/index',"action", '/');
                $("#searchLoggedin").attr("action",'/index',"action", '/');
                $("#searchWriter").attr("action",'/index',"action", '/');
            }

        });
    </script>

</head>
<body style="background-color: #F8F9FA">

<div th:replace="fragments/header :: (${isAdmin} ? 'header-admin': (${isWriter} ? 'header-writer': (${isRegistered} ? 'header-loggedin': 'header')))">
    Intec blog
</div>


<div class="container">
    <h2 th:if = "${posts.isEmpty()}" style="color: #447EB9">No blogposts yet!</h2>
    <ul th:each="post : ${posts}" class="timeline" style="list-style: none" >
        <li>
            <p th:text="${post.creationDate}" >Creation Date</p>
            <h1 th:text="${post.title}"style="color: #447EB9">title</h1>
            <p th:text="${post.intro}"style="text-align: justify">Content</p>
            <p>Written by: <a th:href="@{'/writer/'+${post.registeredVisitor.id}}" th:text="${post.getRegisteredVisitor().username}">username</a></p>
            <ul th:each="tag, iterStat : ${post.tags}" style="list-style-type: none;margin:0; padding:0;">
                <li th:text="!${iterStat.last} ? ${tag.getTag().name()} + ',' : ${tag.getTag().name()}" style="display:inline; color: #398049;
                        font-size: x-small; float:left; padding:0px 2px; margin:0; float:left; display: block;">
                </li>
            </ul>
            <br>
            <div class="more label" style="margin-bottom: 20px"><a th:href="@{'/writer/post/'+${post.id}}">Read more</a></div>
        </li>
        <div class="clear"></div>
        <hr>
    </ul>

    <div>
        Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp;- &nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword} }">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{ '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword} }">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;&nbsp;

        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i != currentPage}" th:href="@{ '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword} } ">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                    &nbsp;&nbsp;
                </span>

        <a th:if="${currentPage < totalPages}" th:href="@{ '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword} }">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage < totalPages}" th:href="@{ '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword} }">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
        &nbsp;&nbsp;
    </div>

</div>
</body>

</footer>
</html>
